#textbox

  <h2>Background information</h2>

  %p
  
  The scientific methods used to calculate the paths of flotsam through our oceans for 10 years after release are quite complicated. For the full details go to <a href="http://www.erik.vansebille.com/science/">Erik Van Sebille&#39;s webpage</a> and click on the paper, <a href="http://erik.vansebille.com/science/vansebille2012c.html">Origin, dynamics and evolution of ocean garbage patches from observed surface drifters</a>. 
  
  %br
  
  Or, you can watch the video below.
  
  %p
  
  <center>
  <iframe width="338" height="190" src="http://www.youtube.com/embed/M4UK9Yt6A-s" frameborder="0" allowfullscreen></iframe>
  </center>

  %p
  
  If you have any further questions you can  <a href="http://erik.vansebille.com/science/contact.html">contact Erik van Sebille</a>
