#textbox

  <h2>Background information</h2>

  %p
  
  The methods we used to calculate how floating stuff moves around for the 10 years after you release them are quite complicated. If you really want to know the details, you might want to have a look at the <a href="http://erik.vansebille.com/science/vansebille2012c.html">scientific paper</a>. But it is much more fun to watch the video below!
  
  %p
  
  <center>
  <iframe width="338" height="190" src="http://www.youtube.com/embed/M4UK9Yt6A-s" frameborder="0" allowfullscreen></iframe>
  </center>

  %p
  
  If you have more questions after you have watched the video, then please  <a href="http://erik.vansebille.com/science/contact.html">contact us</a>
