#textbox

  <h2>Background information</h2>

  %p
  
  We show you a cute rubber duckie on the map, but the experiment you are doing when you click on the map is actually very sad. You are investigating <a href="http://dumpark.com/seas-of-plastic-infographic/">how plastics move in the ocean</a>.

  %p

  The plastic litter is one of the <a href="http://www.abc.net.au/btn/story/s3591476.htm">biggest problems in our ocean</a>. It can <a href="http://www.environment.gov.au/biodiversity/threatened/publications/marine-debris-cr-consulting.html">entangle marine animals</a>, or they can <a href="http://www.whoi.edu/science/B/people/kamaral/plasticsarticle.html">mistake it for food and eat it</a>. If that happens, the plastic gets into the food-chain, and in particular the <a href="http://www.wired.com/wiredscience/2010/03/ocean-bpa/">chemicals in the plastics</a> can be very harmful.

  %p

  Fortunately, there are many groups of people that want to do something about this problem. They for instance clean up beaches, or try to reduce the amount of plastics we use in our daily live.

  %p

  So, if you want to help out yourself, why not contact one of the organisations below?

  %p

  <a href="http://5gyres.org/">5 Gyres</a>

  %p

  <a href="http://www.tangaroablue.org/">Tangaroa Blue</a>

  %p

  <a href="http://www.surfrider.org/">Surfrider Foundation</a>

  %p

  <a href="http://www.plasticoceans.net/">Plastic Oceans</a>
