#textbox

  <h2> Frequently Asked Questions</h2>
  
  %p
  
  <i><b>Q:</b> Why does the site say &#34;Sorry, we have no data for that ocean area&#34;?</i>
  %p
  <b>A:</b> The website is built using data from observations only. And like any observations, these are not perfect.
  We just do not have data from every area in the ocean. This can be seen in the map below, which shows in red the areas 
  where there are not enough surface drifting buoys for our analysis.
  %p
  <img src="/static/coverage.jpg">  
  %p 
  Most areas without sufficient coverage are very near the coastlines. But there are also extensive regions in the Arctic, 
  around Antarctica, in the Indonesian Archipelago, the North Sea and some other marginal seas. The reasons for this poor 
  coverage vary from sea ice to piracy, as can be read in this <a href="http://journals.ametsoc.org/doi/abs/10.1175/JTECH-D-11-00100.1">excellent article</a> (paywalled).
  
  %p
  <i><b>Q:</b> Why does my plastic litter stay in the Mediterranean Sea?</i>
  %p
  <b>A:</b> Again, this is a coverage issue, see also the map above. In the whole 30 years of the drifter project, there has never been a drifting buoy
  that crossed the Gibraltar Strait. In our transition matrix, the Mediterranean Ocean is therefore completely disconnected from
  the rest of the global ocean.

  %p
  <i><b>Q:</b> What exactly does the scale mean?</i>
  %p
  <b>A:</b> The scale on the bottom right runs from 0&#37; to 1&#37;. This may sound like a small number, but that is just because the plastic 
  very quickly spreads over a large area. We have max-ed out areas where the plastic concentration is higher than 1&#37;, in order to focus on 
  the spread of the plastic after a few years.
  
  %p
  <i><b>Q:</b> Why can I see only plastic litter for the coming 10 years?</i>
  %p
  <b>A:</b> The 10 years maximum is a trade-off between more information and faster response times. In principle, we can advect
  the plastic much longer than 10 years, but it will then take much longer before you see the result. If you really want to see
  plastic evolution on longer time scales, <a href="team">contact us directly</a>.
    
  %p
  <i><b>Q:</b> Can I export the raw data from the experiment? / Can I have multiple release points?</i>
  %p
  <b>A:</b> If you want something more &#39;fancy&#39; than what the site can provide, either 
  <a href="http://www.erik.vansebille.com/science/vansebille2012c.html">download the transit matrix</a> and start analysing 
  it yourself, or <a href="team">contact us</a>. We&#39;re happy to help out!
