.container
  .row
    .span7
      .row
        .span7
          .blue_border
            %script{ :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization" }
            :javascript
              $(document).ready(function(){
                $("#map_canvas").css("width", "100%");
                var width = $("#map_canvas").width();
                $("#map_canvas").css("height", width / 1.618 + "px");

                var mapOptions = {
                  zoom: 1,
                  maxZoom: 2,
                  draggable: false,
                  zoomControl: false,
                  scrollwheel: false,
                  disableDoubleClickZoom: true,
                  /* zoomControl: false,
                  streetViewControl: false,
                  panControl: false,
                  mapTypeControl: false, */
                  disableDefaultUI: true,
                  center: new google.maps.LatLng(0, 130.644), // Sydney
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById('map_canvas'),
                    mapOptions);

                lat = [-74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
                lng = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359]

                /* Data points defined as a mixture of WeightedLocation and LatLng objects */
                var heatMapData = [ ];

                for(var i = 0; i < 360; i++) {
                  for(var j = 0; j < 165; j++) {
                    heatMapData.push({
                      location: new google.maps.LatLng(lat[j], lng[i]),
                      weight: Math.random() * i,
                    });
                  }
                }

                var heatmap = new google.maps.visualization.HeatmapLayer({
                  data: heatMapData,
                  radius: 10
                });

                //heatmap.setMap(map);

                //setInterval(function() {
                //  heatmap.setMap(null);
                //  for (var i = 0; i < heatMapData.length; i++) {
                //      heatMapData[i].weight = Math.random() * i;
                //  }
                //  heatmap = new google.maps.visualization.HeatmapLayer({
                //    data: heatMapData,
                //    radius: 3,
                //    maxIntensity: heatMapData.length
                //  });
                //  heatmap.setMap(map);
                //}, 5000);
              });
            #map_canvas
      .row
        .span7
          Preview date, from 0 to 100 years.
          :javascript
            $(document).ready(function() {
              $("#time_slider").slider();
            });
          #time_slider
    .span5
      .blue_border
        .row.control
          .span4
            .row
              .span4
                Center the map
            .row
              .span4
                :javascript
                  $(document).ready(function() {
                    $("#center_map_slider").slider();
                  });
                #center_map_slider
        .row.control
          .span4
            .row
              .span4
                Choose direction
            .row
              .span4
                Past
                %input{ :type => "radio", :name => "direction", :value => "forward" }
                %input{ :type => "radio", :name => "direction", :value => "backward", :selected => true }
                Future
        .row.control
          .span4
            Run tracer:
            %input{ :type => "button", :value => "Play" }
            %input{ :type => "button", :value => "Stop" }
            %input{ :type => "button", :value => "Skip to end" }
        .row.control
          .span4
            .row
              .span4
                Adjust color scale.
            .row
              .span4
                :javascript
                  $(document).ready(function() {
                    $("#color_scale_slider").slider();
                  });
                #color_scale_slider
        .row.control
          .span4
            Share: Web 2.0 Icons to Facebook, etc.
