#textbox

  <h2>How this site works</h2>

  %p
  The scientific methods used to calculate the paths of flotsam through our oceans for 10 years after release are quite complicated. It is perhaps best summarised in the video below

  %p

  <center>
  <iframe width="750" height="422" src="http://www.youtube.com/embed/M4UK9Yt6A-s" frameborder="0" allowfullscreen></iframe>
  </center>

  %p

  Our oceans make up 70 per cent of the Earth&#39;s surface and are in constant motion. Driven by the sun and the wind our oceans develop mighty currents and eddies, some of which can take centuries to loop through all of our planet&#39;s ocean basins. 

  %p

  These currents also move through three dimensions. Many rise from the deep ocean near coastlines while other currents descend to the deepest parts of the ocean. These vertically descending currents are often, but not always, in the middle of the ocean in regions known as the five great gyres. 

  %p

  However, almost all plastic materials and lighter than water objects (such as those messages in a bottles) stay on the surface. 

  %p

  Since the late 1970s, ocean scientists have tracked drifting buoys but it wasn&#39;t until 1982 the World Climate Research Programme put forward the idea of a standardised global array of drifting buoys. These buoys float with the currents just like plastics except &#45; like Twitter from the sea &#45; they send a short message to scientists every six hours about where they are and the conditions in that location. 

  %p

  With this information, we have been able to create a statistical model of the surface pathways of our oceans. The Adrift website uses this model and generates an animation of the likely path and destination of flotsam over a ten year period into the future. 

  %p

  For the full details go to <a href="http://www.erik.vansebille.com/science/">Erik Van Sebille&#39;s webpage</a> or the paper <a href="http://erik.vansebille.com/science/vansebille2012c.html">Origin, dynamics and evolution of ocean garbage patches from observed surface drifters</a>. If you have any further questions you can  <a href="http://erik.vansebille.com/science/contact.html">contact Erik van Sebille</a>
