#textbox

  <h2>How this site works</h2>

  %p
  
  70&#37; of the world is ocean. And the water in this ocean is in constant motion. Driven by the sun and the wind, it moves around. Sometimes swift and in strong currents, but mostly very slowly. It takes many centuries for the water to loop around all of the ocean basins.

  %p

  The ocean currents are 3-dimensional, which means that water cannot only move around horizontally, but also vertically. In some regions op the ocean (such as near the poles), the surface water sinks to the deep ocean and in others it then wells back up.

  %p

  However, almost all plastic materials (and messages in bottles) are lighter than the water, and can thus not sink. They will stay on the surface of the ocean for thousands of years. This site calculates the most likely pathways of the drifting stuff.

  %p

  Since the late seventies, ocean scientists have tried to measure the pathways of plastics on the ocean surface. For this, they have used drifting buoys that float with the currents, just like the plastics. The difference is that the buoys &#39;phone home&#39;, sending a message to the scientists every 6 hours about where they are.

  %p

  We have used the enormous amounts of information from the drifting buoys to create a statistical model of the surface pathways on the ocean. And with this model, you can recreate the pathways to and from each point on the ocean surface.

  %p
  
  If you want to know more about how we did it, click on the Background Information tab!
