!!! 5
%html
  %head
    %title Adrift: tracking the global ocean circulation
    %script(src="//code.jquery.com/jquery-latest.js")
    %script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
    %script(src="/static/jquery.blockUI.js")
    %script(src="/static/jquery.history.js")
    %script(src="/static/jquery.colorbox-min.js")
    %script(src="/static/cssua.min.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
    %link(href="/static/ui.css", rel="stylesheet", media="screen")
    %link(href="/static/colorbox.css", rel="stylesheet", media="screen")
    %link(href="/static/stylesheet.css", rel="stylesheet", media="screen")
    <script>
      if (cssua.ua.mobile) {
        document.write("<link href=\"/static/stylesheet_960pwide.css\", rel=\"stylesheet\", media=\"screen\"/>")
      }
      else {
        document.write("<link href=\"/static/stylesheet_1024pwide.css\", rel=\"stylesheet\", media=\"screen\"/>")
      }
    </script>
    <meta property="og:title" content="Adrift.org.au"/>
    <meta property="og:image" content="http://adrift.org.au/static/fblogo.jpg"/>
    <meta property="og:description" content="Want to know where your message in a bottle will turn up or track down the path of local floating pollution? Use Adrift.org.au to forecast where rubber duckies or floating debris in the ocean is likely to end up in 10 years. So, take a leap into the virtual ocean today and see where it takes you."/>
    <meta property="fb:admins" content="1087703262" />
    <meta name="google-site-verification" content="MSgbQgLLWmbQniHSSRJhbmt7Z3VYbRbBVF7gJ3Fsda8" />
    <meta name="Description" content="Want to know where your message in a bottle will turn up or track down the path of local floating pollution? Use Adrift.org.au to forecast where rubber duckies or floating debris in the ocean is likely to end up in 10 years. So, take a leap into the virtual ocean today and see where it takes you."/>

  %body

    <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-38940204-1']); _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
    <script>
      var top_px = 126;
      if (cssua.ua.mobile) {
        top_px = 100;
      }
     $(document).ready(function(){$(".colorbox").colorbox({width:"850px", top:top_px+"px", maxHeight:"510px", opacity:0.50});});
     </script>

    #page_container
      %div(style="position:relative;")
        :javascript
          if (cssua.ua.mobile) {
            document.write("<img class=\"header\" src=\"/static/adrift_logo_960pwide.jpg\">")
              document.write("<div style=\"position:absolute;top:39px;left:155px;\">")
            }
            else {
              document.write("<img class=\"header\" src=\"/static/adrift_logo_1024pwide.jpg\">")
              document.write("<div style=\"position:absolute;top:65px;left:219px;\">")
            }
        %ul.navigation
          %li.navigation
            <a class="navigation colorbox" href="what_haml">What this site does</a>
          %li.navigation
            <a class="navigation colorbox" href="how_haml">How do we know?</a>
          %li.navigation
            <a class="navigation colorbox" href="background_haml">Duckies and Other Plastic</a>
          %li.navigation
            <a class="navigation colorbox" href="faq_haml">FAQ</a>
          %li.navigation
            <a class="navigation colorbox" href="team_haml">The team</a>

      ${self.body()}
