!!! 5
%html
  %head
    %title Jetsamina 2.0
    %script(src="//code.jquery.com/jquery-latest.js")
    %script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
    %link(href="/static/ui.css", rel="stylesheet", media="screen")
    %link(href="/static/stylesheet.css", rel="stylesheet", media="screen")
  %body
    #page_container
      ${self.body()}
