!!! 5
%html
  %head
    %title Adrift: tracking the global ocean circulation
    %script(src="//code.jquery.com/jquery-latest.js")
    %script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
    %script(src="/static/jquery.blockUI.js")
    %script(src="/static/jquery.history.js")
    %script(src="/static/jquery.colorbox-min.js")
    %script(src="/static/cssua.min.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
    %link(href="/static/ui.css", rel="stylesheet", media="screen")
    %link(href="/static/colorbox.css", rel="stylesheet", media="screen")
    %link(href="/static/stylesheet.css", rel="stylesheet", media="screen")    
    <script>
      if (cssua.ua.mobile) {
        document.write("<link href=\"/static/stylesheet_960pwide.css\", rel=\"stylesheet\", media=\"screen\"/>")
      }
      else {
        document.write("<link href=\"/static/stylesheet_1024pwide.css\", rel=\"stylesheet\", media=\"screen\"/>")
      }
    </script>

  %body

    <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-38940204-1']); _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
    <script>
      $(document).ready(function(){$(".colorbox").colorbox({width:"800px", top:"250px", maxHeight:"450px", opacity:0.50});});
     </script>
     
    #page_container
        <div style="position:relative;">
          <script>
            if (cssua.ua.mobile) { 
              document.write("<img class=\"header\" src=\"/static/adrift_logo_960pwide.jpg\">")
              document.write("<div style=\"position:absolute;top:39px;left:216px;\">")
            }
            else {
              document.write("<img class=\"header\" src=\"/static/adrift_logo_1024pwide.jpg\">")            
              document.write("<div style=\"position:absolute;top:65px;left:280px;\">")
            }
          </script>
             <ul class="navigation">
               <li class="navigation"> 
                 <a class="navigation colorbox" href="what">What this site does</a>
               <li class="navigation"> 
                 <a class="navigation colorbox" href="how">How this site works</a>
               <li class="navigation"> 
                 <a class="navigation colorbox" href="background">Background information</a>
               <li class="navigation"> 
                 <a class="navigation colorbox" href="team">About the team</a>
              </ul>
          </div>
        </div>
      
      ${self.body()}
