!!! 5
%html
  %head
    %title Adrift: tracking the global ocean circulation
    %script(src="//code.jquery.com/jquery-latest.js")
    %script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
    %script(src="/static/jquery.blockUI.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
    %link(href="/static/ui.css", rel="stylesheet", media="screen")
    %link(href="/static/stylesheet.css", rel="stylesheet", media="screen")
  %body
    #page_container
        %img.header(src="/static/adrift_logo_1024pwide.jpg")
        <div style="position:absolute;top:142px;left:485px;">
          %ul.navigation
            - for text, href in [("Home", "/"), ("What this app does", "/what"), ("How this app works", "/how"), ("Background information", "/background"), ("About the team", "/team")]:
              %li(class_=("active" if text == "Home" else ""))
                %a(href=href)= text
        </div>
      ${self.body()}
