%%inherit(file="layout.haml")

:javascript
  $(document).ready(function(){
    // $("#map_canvas").css("width", "1024px");
    var width = $("#map_canvas").width();
    $("#map_canvas").css("height", width / 2 + "px");

    var mapOptions = {
      zoom: 2,
      maxZoom: 2,
      draggable: true,
      zoomControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(8, 130.644), // Sydney
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
          {
            "featureType": "administrative",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "landscape",
            "stylers": [
              { "color": "#ffffff" } 
            ]
          },{
            "featureType": "water",
            "stylers": [
              { "color": "#309CC0" }
            ]
          }
        ]
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    $(document).ajaxStart(function(){
      $.blockUI({ message: '<div class="loading"><img src="/static/busy.gif" /> Loading tracer map...</div>' });
    });
    $(document).ajaxStop($.unblockUI);

    var heatMapData = [];
    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatMapData,
      radius: 1
    });
    var marker = new google.maps.Marker({map:map});
    google.maps.event.addListener(map, 'click', function(mouseEvent) {
      marker.setPosition(mouseEvent.latLng);
      $.get("/run/" + mouseEvent.latLng, function(data) {
        heatmap.setMap(null);
        heatMapData = JSON.parse(data);
        for(var i = 0; i < heatMapData.length; i++) {
          var x = heatMapData[i].location;
          heatMapData[i].location = new google.maps.LatLng(x.lat, x.lng);
          heatMapData[i].weight *= 1000;
        }
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatMapData,
            radius: 10,
            maxIntensity : 1e-2 * 1000,
        });
        heatmap.setMap(map);
      });
    });

    google.maps.event.addListener(map, 'center_changed', function() {
      var newCenter = map.getCenter();
      if (Math.abs(newCenter.lat()-8) > 1e-4) {
        map.panTo(new google.maps.LatLng(8, newCenter.lng()));
      }
    });
  });
#map_canvas
