%%inherit(file="layout.haml")

:javascript
  $(document).ready(function(){
    // $("#map_canvas").css("width", "1024px");
    var width = $("#map_canvas").width();
    $("#map_canvas").css("height", width / 1.7 + "px");

    var mapOptions = {
      zoom: 2,
      maxZoom: 2,
      draggable: false,
      zoomControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(31, 130.644), // Sydney
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
          {
            "featureType": "administrative",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "landscape",
            "stylers": [
              { "color": "#ffffff" } 
            ]
          },{
            "featureType": "water",
            "stylers": [
              { "color": "#309CC0" }
            ]
          }
        ]
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    $(document).ajaxStart(function(){
      $.blockUI({ message: '<div class="loading"><img src="/static/busy.gif" /> Loading tracer map...</div>' });
    });
    $(document).ajaxStop($.unblockUI);

    var heatMapData = [];
    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatMapData,
      radius: 1
    });
    google.maps.event.addListener(map, 'click', function(mouseEvent) {
      $.get("/run/" + mouseEvent.latLng, function(data) {
        heatmap.setMap(null);
        heatMapData = JSON.parse(data);
        for(var i = 0; i < heatMapData.length; i++) {
          var x = heatMapData[i].location;
          heatMapData[i].location = new google.maps.LatLng(x.lat, x.lng);
          heatMapData[i].weight *= 1000;
        }
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatMapData,
            radius: 10,
        });
        heatmap.setMap(map);
      });
    });

    $("#center_map_slider").slider({
      //min: 1,
      //max: 360,
      //value: 180-131.664,
      min: -180,
      max: 180,
      slide: function(event, ui) {
        map.panTo(new google.maps.LatLng(31, 131.664-ui.value));
      }
    });
  });
#map_canvas
:javascript
.float_left
  
#center_map_slider
