%%inherit(file="layout.haml")

#control_panel
  #controls

- if lat:
  :javascript
    window.initial_tracer = new google.maps.LatLng(${float(lat)}, ${float(lng)});
    window.initial_centre = ${float(centre)};
- else:
  :javascript
    window.initial_tracer = null;
    window.initial_centre = null;

:javascript
  var global_count = 0;
  function notification(message, css_class) {
    var local_count = ++global_count;    
    $elm = $("#notification");
    $elm.attr('class','').addClass(css_class);
    $elm = $("#notification_text");
    $elm.attr('class','').addClass(css_class);
    $elm.text(message);
    $elm = $("#notification_likesbar");
    $elm.attr('class','').addClass(css_class);
  }
  $(document).ready(function(){
    // $("#map_canvas").css("width", "1024px");
    var width = $("#map_canvas").width();
    $("#map_canvas").css("height", "512px");

    var centre_lon = 30;
    if(window.initial_centre) {
      centre_lon = window.initial_centre;
    } else {
      function getcurrentLon(position){
        centre_lon = Math.round(position.coords.longitude);
        map.panTo(new google.maps.LatLng(8, centre_lon));
      }
      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(getcurrentLon);
      }
    }

    var mapOptions = {
      zoom: 2,
      maxZoom: 2,
      draggable: true,
      zoomControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(8, centre_lon),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
          {
            "featureType": "administrative",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "landscape",
            "stylers": [
              { "color": "#ffffff" }
            ]
          },{
            "featureType": "water",
            "stylers": [
              { "color": "#309CC0" }
            ]
          }
        ]
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    $(document).ajaxStart(function(){
      $('div.map_notification_container').block({
        message: '<div style="font-size:18px"><img src="/static/busy.gif" /> Now computing tracer...</div>',
        css:{padding: '30px', width: '400px'}
      });
    });
    $(document).ajaxStop(function(){
      $('div.map_notification_container').unblock();
    });

    var heatMapData = [];
    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatMapData,
      radius: 1
    });
    var image = 'static/' + '${icon_filename}';
    var marker = new google.maps.Marker({
      map:map,
      icon: image
    });
    var run_counter = 0;
    var old_heatmap = null;
    var secperframe = 1000;
    if (cssua.ua.mobile) {
      secperframe = 2000;
    }

    function drawHeatMapData(j, expected_run_counter) {
      if (run_counter != expected_run_counter) return;
      for(var i = 0; i < heatMapData[j].length; i++) {
        var x = heatMapData[j][i].location;
        heatMapData[j][i].location = new google.maps.LatLng(x.lat, x.lng);
      }
      old_heatmap = heatmap;
      heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatMapData[j],
          radius: 10,
          maxIntensity : 100,
          opacity : 1,
      });
      heatmap.setMap(map);
      setTimeout(function(){
        old_heatmap.setMap(null);
        var years = Math.floor((j+1)/6);
        var months = (j+1)%6*2;
        notification("Tracer after " + years + " years and " + months + " months");
      },0);
      if (j + 1 < heatMapData.length) {
        setTimeout(function() {
          drawHeatMapData(j+1, expected_run_counter);
        },secperframe);
      }
    }
    last_lat = null;
    last_lng = null;
    function run(latLng) {
      lat = Math.round(10 * latLng.lat()) / 10;
      lng = Math.round(10 * latLng.lng()) / 10;
      last_lat = lat;
      last_lng = lng;
      if (latLng != window.initial_tracer) {
        History.pushState({}, document.title, "map?lat="+lat+"&lng="+lng+"&centre="+centre_lon);
      }
      run_counter++;
      marker.setPosition(latLng);
      $.getJSON("/run?lat="+lat+"&lng="+lng, function(data) {
        if (data.substring) {
          heatmap.setMap(null);
          notification(data, "error");
        } else if (data[0].length == 0) {
          heatmap.setMap(null);
          notification("You clicked on land, please click on the ocean", "error");
        } else {
          heatMapData = data;
          drawHeatMapData(0, run_counter);
        }
      });
    }
    google.maps.event.addListener(map, 'click', function(mouseEvent) {
      run(mouseEvent.latLng);
    });
    google.maps.event.addListenerOnce(map, 'bounds_changed', function(){
      if (window.initial_tracer) {
        run(window.initial_tracer);
      }
    });
    google.maps.event.addListener(map, 'center_changed', function() {
      var newCenter = map.getCenter();
      centre_lon = Math.round(10 * ((newCenter.lng()%360 + 540)%360 - 180)) / 10;
      if (last_lat) {
        History.pushState({}, document.title, "map?lat="+last_lat+"&lng="+last_lng+"&centre="+centre_lon);
      }
      if (Math.abs(newCenter.lat()-8) > 1e-4) {
        map.panTo(new google.maps.LatLng(8, newCenter.lng()));
      }
    });
  });

<div class="map_notification_container">
  #notification
    #notification_text
      Welcome, click on a point on the ocean
    #notification_likesbar
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-515a706a565cca8a"></script>
      <!-- AddThis Button END -->
  #map_canvas
</div>
#bottombar
#bottombarcclogo
   <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
#bottombardisclaimertext
  <a href="http://adrift.org.au">Adrift.org.au</a> is intended as an educational site. It should not be used for any policy decisions and comes without any warranty. Any inquiries should be directed to <a href="http://www.erik.vansebille.com">Dr Erik van Sebille</a> at the <a href="http://www.unsw.edu.au">University of New South Wales</a>.
 Support for this site is provided by the <a href="http://www.climatescience.org.au/">ARC Centre of Excellence for Climate System Science</a> and the <a href="http://www.nectar.org.au/research-cloud">NeCTAR Research Cloud</a>.
#bottombarcolorbar
  %img(width="400px", src="/static/colorbar.jpg")
