%%inherit(file="layout.haml")

#control_panel
  #controls


:javascript
  var global_count = 0;
  function notification(message, css_class) {
    var local_count = ++global_count;
    $elm = $("#notification");
    $elm.attr('class','').addClass(css_class);
    $elm.text(message);
  }
  $(document).ready(function(){
    // $("#map_canvas").css("width", "1024px");
    var width = $("#map_canvas").width();
    $("#map_canvas").css("height", width / 2 + "px");

    var mapOptions = {
      zoom: 2,
      maxZoom: 2,
      draggable: true,
      zoomControl: false,
      scrollwheel: false,
      disableDoubleClickZoom: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(8, 130.644), // Sydney
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
          {
            "featureType": "administrative",
            "stylers": [
              { "visibility": "off" }
            ]
          },{
            "featureType": "landscape",
            "stylers": [
              { "color": "#ffffff" } 
            ]
          },{
            "featureType": "water",
            "stylers": [
              { "color": "#309CC0" }
            ]
          }
        ]
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    $(document).ajaxStart(function(){
      $.blockUI({ message: '<div class="loading"><img src="/static/busy.gif" /> Loading tracer map...</div>' });
    });
    $(document).ajaxStop($.unblockUI);

    var heatMapData = [];
    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatMapData,
      radius: 1
    });
    var marker = new google.maps.Marker({map:map});
    function drawHeatMapData(j) {
        for(var i = 0; i < heatMapData[j].length; i++) {
          var x = heatMapData[j][i].location;
          heatMapData[j][i].location = new google.maps.LatLng(x.lat, x.lng);
          heatMapData[j][i].weight *= 10000;
        }
        old_heatmap = heatmap;
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatMapData[j],
            radius: 10,
            maxIntensity : 1e-2 * 10000,
            opacity : 1,
        });
        heatmap.setMap(map);
        setTimeout(function(){old_heatmap.setMap(null)},0);
        if (j + 1 < heatMapData.length) {
          setTimeout(function() {
            drawHeatMapData(j+1);
          },1000);
        }
    }
    google.maps.event.addListener(map, 'click', function(mouseEvent) {
      marker.setPosition(mouseEvent.latLng);
      $.getJSON("/run/" + mouseEvent.latLng, function(data) {
        if (data[0].length == 0) {
          notification("You clicked on land.", "error");
        } else {
          notification("This is where the tracer could be after 10 years."); // , "success");
        }
        heatMapData = data;
        drawHeatMapData(0);
      });
    });

    google.maps.event.addListener(map, 'center_changed', function() {
      var newCenter = map.getCenter();
      if (Math.abs(newCenter.lat()-8) > 1e-4) {
        map.panTo(new google.maps.LatLng(8, newCenter.lng()));
      }
    });
  });

#map_notification_container
  #notification
    Welcome, click on a point on the map
  #map_canvas

#bottombar
#bottombarcclogo
   <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
#bottombardisclaimertext
  <a href="http://adrift.org.au">Adrift.org.au</a> is intended as an educational app. It should not be used for any policy decisions and comes without any warranty. Any questions and inquiries should be directed to <a href="http://www.erik.vansebille.com">Dr Erik van Sebille</a> at the <a href="http://www.unsw.edu.au">University of New South Wales</a>.
 Support for this site is provided by the <a href="http://www.climatescience.org.au/">ARC Centre of Excellence for Climate System Science</a> and the <a href="http://www.nectar.org.au/research-cloud">NeCTAR Research Cloud</a>.
#bottombarcolorbar
  %img(width="400px", src="/static/colorbar.jpg")
