#textbox

  %h2 Media

  %p

  Below is a list of coverage of Adrift.org.au in the Australian media

  %p

  <a href="http://www.rrr.org.au/program/radio-marinara/">Radio Marinara</a>, on Melbourne's Triple R radio station and hosted by <a href="http://www.rrr.org.au/presenter/anthony-boxshall/">Anthony Boxhall</a>, covered Adrift.org.au on their August 4 show. Listen to it <a href="http://www.erik.vansebille.com/science/Radio-Marinara-20130804.mp3">here</a>.

  %p

  <a href="http://www.abc.net.au/radionational/programs/lifematters/"> Life Matters</a> on ABC Radio National covered Adrift.org.au on their June 24 show. Listen to it <a href="http://www.abc.net.au/radionational/programs/lifematters/the-not-so-fantastic-plastic/4774526">here</a>.
