#textbox

  <h2>Team members</h2>
  %p
  <div style="width:550px; float:left;">
    <b>Dr Erik van Sebille</b> is a physical oceanographer at the University of New South Wales, who studies the large-scale circulation of the ocean. He is particularly interested in the connection between ocean basins and the processes that determine how much water 'leaks' from one ocean basin into another. These connections are important for global climate and for the pathways of both marine organisms and debris. For more information, see <a href="http://www.erik.vansebille.com"> www.erik.vansebille.com</a>.
  </div>
  <div style="background-image:url(static/erik.jpg); float:right; width:117px;height:160px;"></div>
  
 <div style="clear: both;padding:10px;"> </div>
  
  <div style="width:550px; float:left;">
    <b>Jack Murray</b> is a Computer Science student. For more information, see <a href="http://www.murray.cs"> www.murray.cx</a>.
  </div>
  <!--<div style="background-image:url(static/erik.jpg); float:right; width:135px;height:160px;"></div>-->
  
 <div style="clear: both;padding:10px;"> </div>
  
  <div style="width:550px; float:left;">
    <b>David Fuchs</b> is a PhD candidate at the Climate Change Research Centre. 
  </div>
  <!--<div style="background-image:url(static/erik.jpg); float:right; width:135px;height:160px;"></div>-->

