#textbox

  %h2 Team members

  .team_member
    %img(src="static/erik.jpg")
    <b>Dr Erik van Sebille</b> is a physical oceanographer at the University of
    New South Wales, who studies the large-scale circulation of the ocean. He
    is particularly interested in the connection between ocean basins and the
    processes that determine how much water 'leaks' from one ocean basin into
    another. These connections are important for global climate and for the
    pathways of both marine organisms and debris. For more information, see <a
     href="http://www.erik.vansebille.com"> www.erik.vansebille.com</a>.

  .team_member
    %img(src="static/jack.jpg")
    <b>Jack Murray</b> is a Computer Science student at UNSW and contract
    software developer. For more information, see <a
      href="http://www.murray.cx">www.murray.cx</a>.

  .team_member
    / %img(src="static/jack.jpg")
    <b>David Fuchs</b> is a PhD candidate at the Climate Change Research Centre.
