#textbox

  <h2> Adrift away...</h2>
  
  %p
  
  Ever been at the beach and found a plastic container or message in a bottle? Did you wonder how that piece of flotsam ended up in your hands?

  %p

  Welcome to <a href="http://adrift.org.au">Adrift.org.au</a>, a web site where you can explore the pathways of stuff in the ocean circulation. On this web site, you can find out where your message in a bottle might end up...

  %p

  This web site uses a scientific method, based on observed drifter tracks in the ocean, to show you the pathways of drifting stuff. Like the debris from the <a href="fukushima">Fukushima distaster</a> or the <a href="rubberduckiespill">Rubber Duckies</a> in the famous spill.
  
  %p
  
  But even more fun is to try it yourself. Just point anywhere on the <a href="map">ocean</a> and discover the pathways of floating stuff from that location.

  %p

  <b>Happy Exploring!</b>
