%%inherit(file="layout.haml")

Ever been at the beach and found a plastic container or wrapper with foreign language words? Or perhaps even found a message in a bottle? Did you wonder how that piece of flotsam ended up in your hands?

%p

Welcome to <a href="http://adrift.org.au">Adrift.org.au</a>, a web portal dedicated to studying the pathways and time scales of the ocean circulation. On this web site, you can find out where ocean debris might have come from. Or where your message in a bottle might end up...

%p

This web portal uses a scientific method, based on observed drifter tracks in the ocean, to show you the pathways of drifting stuff. Just point on the <a href="map">map</a> and you can discover both the pathways from that location and to that location.

%p

Happy Exploring!

