#textbox

  <h2> Adrift away...</h2>
  
  %p
  
  If you ever found a wonderful piece of flotsam washed up on the beach or are one of the very <a href="http://news.discovery.com/human/life/message-in-a-bottle-found-76-years-later-130121.htm"> few lucky people who have found a message in a bottle</a>, this webpage is for you. While we can&#39;t yet (wait for future updates) track backwards to tell you where the flotsam may have come from, we can certainly help you find out where your bottle might travel if it is tossed in the ocean.
  
  %p

  Adrift is a website, which was inspired by the delightful book <a href="http://www.donovanhohn.com/Home.html">Moby Duck</a> and research into ocean circulation by <a href="http://erik.vansebille.com/science">Dr Erik Van Sebille</a>. Here you can explore how all kinds of objects drift through the ocean &#45; from rubber duckies to <a href="http://dumpark.com/seas-of-plastic-infographic/">plastic pollution</a> &#45; and where each object might end up if it is washed out to sea from your beach. 
  
  %p

  The website uses a scientific method that is based on observed tracks revealed by buoys in the <a href="http://www.aoml.noaa.gov/phod/dac/index.php"> Global Drifter Program</a> and other scientific research in this field. On this website you can see where ocean&#45;going debris travelled after the <a href="fukushima">Fukushima</a> disaster or the <a href="rubberduckiespill">path rubber ducks may have taken</a> after the famous <a href="http://en.wikipedia.org/wiki/Friendly_Floatees">Friendly Floaties</a> spill revealed in Moby Duck. 
  
  %p

  <b>Happy Exploring, it is time to drift away!</b>
