/* TODO: Convert this to SCSS and get some nicer default styles in here */

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    color: #313131;
}

body {
    margin-top: 0em;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 72px;
    color: #679;
    text-shadow: -1px 2px #cdf; /* 235; */
}

.textbox {
    padding:30px;
    padding-top:10px;
    padding-bottom:10px;
    background:#fff;
    text-align:justify;
    font-size: 17px;
    line-height: 140%;
}
p {
    margin-top:1em;
}

a {
    color: #043566;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 50, 50, 1);
}
    
ul.navigation {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

ul.navigation li {
    display: inline;
    margin: 0.2em;
    padding: 0.3em;
    background-color: rgba(256, 256, 256, 0.4);
}

ul.navigation li a {
    color: #043566;
    padding: 0.3em;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #eee;
}

#notification {
    position: absolute;
    height: 45px;
    width: 540px;
    z-index: 10;
    background-color: rgba(100, 100, 100, 0.8);
    float:left;
}
#notification.error {
    background-color: rgba(255, 50, 50, 0.8);
    left:0px;
}

#notification_text {
    position: absolute;
    width: 405px;
    color: white;
    font-weight: bold;
    text-align:left;
    padding-right: 1em;
    padding-left:10px;
    font-size: 19px;
    line-height: 45px;
}
#notification_text.error {
    left:300px;
    width: 565px;
}

#notification_likesbar{
    position: absolute;
    width: 80px;
    height: 23px;
    float:left;
    z-index: 10;
    left:460px;
    padding-top: 6px;
    padding-bottom: 0.5em;
}
#return_bar {
    position: absolute;
    height: 25px;
    width: 250px;
    z-index: 10;
    background-color: rgba(100, 100, 100, 0.8);
    text-align:left;
    padding-right: 1em;
    padding-left:10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}
a.return_bar {
    color: white;
    text-decoration: none;
}
a.return_bar:hover {
    color: rgba(255, 50, 50, 1);
}

#australia_message {
    position: absolute;
    height: 45px;
    width: 995px;
    z-index: 10;
    top:574px;
    background-color: rgba(255, 50, 50, 0.8);
    float:right;
    color: white;
    font-weight: bold;
    text-align:center;
    padding-right: 1em;
    padding-left:10px;
    font-size: 18px;
    line-height: 45px;
}

#bottombarcclogo{
    width:100px;
    float: left;
}
#bottombarcolorbar{
    width: 400px;
    float:right;
}
.loading {
    margin: 1em;
}

.team_member img {
    float: right;
    margin: 0 0 10px 30px;
}

.team_member {
    margin: 5px 0;
    clear: both;
}

.hidden {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}
