#page_container {
    width: 1024px;
    margin: 0 auto;
}

#notification {
    left:509px;
}

#bottombar {
    padding-top: 1em;
    width: 1024px;
}
#bottombardisclaimertext{
    font-size:9px;
    width: 500px;
    float: left;
}
