/* TODO: Convert this to SCSS and get some nicer default styles in here */

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    color: #313131;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 72px;
    color: #679;
    text-shadow: -1px 2px #cdf; /* 235; */
}

#page_container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    overflow: auto;
    width: 100%;
}

.header .title {
    float: left;
}

.header .title .slogan {
    margin-left: 7em;
    color: #78A;
    text-shadow: 0 1px #cdf; /* 235; */
}

.header .logo {
    margin-top: 10px;
    float: right;
}

ul.navigation {
    text-align: center;
    padding: 1em;
}

ul.navigation li {
    display: inline;
    margin: 0 0.8em;
}

ul.navigation li a {
    color: #043566;
    padding: 0.8em;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #eee;
}

.loading {
    margin: 1em;
}
