#page_container {
    width: 960px;
    margin: 0 auto;
}

#notification {
    left:445px;
}

#bottombar {
    padding-top: 1em;
    width: 960px;
}
#bottombardisclaimertext{
    font-size:8px;
    width: 436px;
    float: left;
}
