$def with (lat=None, lng=None, icon_filename='MarkerDuckie.png', open_page=None)

$if lat:
    <script>
        window.initial_tracer = new google.maps.LatLng(${float(lat)}, ${float(lng)});
    </script>
$else:
    <script>
        window.initial_tracer = null;
    </script>

<script>
    window.icon_filename = '${icon_filename}';
$if open_page:
    window.open_page = '${open_page}';
</script>

<script>
    var adrift = null;
    $$(document).ready(function(){
        $$("#map_canvas").css("height", "512px"); // TODO: this should not be done with javascript...
        adrift = new AdriftMap(document.getElementById("map_canvas"), {
            center: new google.maps.LatLng(-27.5, 145),
            zoom: 4,
            maxZoom: 4,
            draggable: false,
            panControl: false,
            // TODO: heat map radius option.
            // TODO: data frame timescale resolution option (years/months per frame)
            historyPageName: '/australia', // TODO: better history endpoint.
            jsonEndpoint: '/runAus', // TODO: better json.
            radius: 20,
            monthsPerFrame: 1,
        });
    });

    $$(document).ready(function(){
        $$(".return_bar").click(function() {
            if (!adrift) return true;
            window.location.href = "/map" + adrift.url_params();
            return false;
        });
    });
</script>

<div class="map_notification_container">
    <div id="notification">
        <div id="notification_text">
            Welcome, click on a point on the ocean
        </div>
        <div id="notification_likesbar">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
    <div id="return_bar">
        <a class="return_bar" href="map"><img src="static/zoomout.png" height="15px"> Click here to view global ocean</a>
    </div>
    <div id="map_canvas">
    </div>
</div>
<div id="australia_message">
    This page is experimental. The data used here (a combination of models and observations) is being tested.
</div>
