 <!-- Speech bubble-->
<div class="duckiebubble" style="position:absolute;left:320px;top:160px;width:200px;">
<script>
    var text = 'So where does the plastic end up?';
    $$.each(text.split(''), function(i, letter){
        setTimeout(function(){
            $$('#container').html($$('#container').html() + letter);
        }, 50*i);
    });
</script>
<div id="container"></div>
</div>

<!-- Circle whereplastic-->
<div style="position:absolute;left:280px;top:650px">
<a href="#whereplastic" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="whereplastic">
  <h2> Where does all the plastic go?</h2>
  <p>
  Most plastic is lighter than water so it floats on the surface and is swept around by ocean currents. A lot of plastic gets caught in the spiralling ocean gyres. It accumulates in these gyres, creating garbage ‘patches’ in the ocean. 
The circular motion of the gyre draws the debris into the centre where it becomes trapped and builds up. While the water in the centre of the gyres sinks, the plastic is too light to sink and stays at the surface.
  <p>
  <iframe width="460" height="259" src="//www.youtube.com/embed/GLgh9h2ePYw" frameborder="0" allowfullscreen></iframe>
</div></div>

<!-- Circle whatgreatpacificpatch-->
<div style="position:absolute;left:580px;top:450px">
<a href="#whatgreatpacificpatch" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="whatgreatpacificpatch">
  <h2> What is the great Pacific Garbage Patch?</h2>
  <p>
  <iframe width="460" height="259" src="//www.youtube.com/embed/xZ773hCN2sU" frameborder="0" allowfullscreen></iframe>
</div></div>

<!-- Circle wherepersonal-->
<div style="position:absolute;left:750px;top:170px">
<a href="#wherepersonal" class="circle colorbox750"></a>
</div>
<div style='display:none'><div id='wherepersonal' class="textbox">
  <h2> Track your own plastic</h2>
  <p>
  Adrift is a website designed to help you explore how objects, like plastic, drift through the ocean. The website uses real data from the <a href="http://www.aoml.noaa.gov/phod/dac/index.php">Global Drifter Program</a>  to show how interconnected our oceans are. Start exploring and see just how far your plastic can travel! 
  <p>
  <iframe src="engageadrift" seamless="true" width="750px" height="512px"></iframe> 
  <p>
  Or go to the fully functional version of adrift.org.au <a href="map">here</a>
</div></div>


<!-- Circle Only one?-->
<div style="position:absolute;left:650px;top:600px">
<a href="#others" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="others">
  <h2>How many garbage patches are there in the ocean?</h2>
  <p>
Each ocean has its own accumulation of marine debris. There are five ocean gyres, and so there are at least five ocean patches. One in the North Pacific, one in the South Pacific, one in the Indian Ocean, one in the South Atlantic and one in the North Atlantic. But there might be even more patches; there is some evidence that plastic also accumulates in the Mediterranean Sea and in the Arctic Ocean.
<p>
<img width= "460" height="230px" src="static/scenes/gyres.jpg"/>
The five ocean gyres, each with an accumulation of marine debris.
<p>
Source: <a href="http://www.earthfirst.net.au/ban-the-plastic-bag.html">Earth First</a>
<p>
</div></div>

<!-- Image and control buttons -->

<div style="position:absolute;left:30px;top:720px">
<a href="engage3" class="engagefwdbwd">Previous</a>
</div>
<div style="position:absolute;left:850px;top:720px">
<a href="engage5" class="engagefwdbwd">Next</a>
</div>

<img src="static/scenes/scene4.png"/>

