<!-- Circle drinkbottle-->
<div style="position:absolute;left:460px;top:630px">
<a href="#drinkbottle" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="drinkbottle">
  <h2> Land sources of plastic</h2>
  <p>
80% of the plastic that makes its way into the ocean comes from the land. This plastic usually makes the journey from land to sea via drains, particularly storm water drains. Rubbish that is thrown onto the street washes into the drains when it rains. The water travels through these drains and ends up in the ocean, taking the rubbish with it.
  <p>
  Sadly, people leave rubbish at the beach after a day in the sun, where it is easily taken up by the waves and the tide, and is swept into the ocean.
</div>


<!-- Circle Factory-->
<div style="position:absolute;left:470px;top:350px">
<a href="#factory" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="factory">
  <h2> Factory runoff</h2>
  <p>
Plastic waste also comes from factories, often in the places where the plastic is made. Factories are often located near coastlines so that ships can come and go easily. This means the waste that flows from factories makes a very short journey to the ocean. 
  <p>
</div>

<!-- Circle Boat-->
<div style="position:absolute;left:60px;top:350px">
<a href="#boat" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="boat">
  <h2> Boats and ships at sea</h2>
  <p>
Approximately 20% of the marine debris floating around in the ocean comes from boats and ships at sea. Fishing vessels often loose fishing lines and nets overboard, either from bad weather or through intentional dumping. Extreme storms at sea can cause containers on large shipping vessels to fall overboard, spilling their contents straight into the ocean. In 1992 a container filled with thousands of plastic rubber ducks was lost at sea in a very heavy storm. The plastic toys ares still being found along the coastlines today. 
  <p>
<p>
<iframe width="750" height="422" src="//www.youtube.com/embed/XKXR2Goe_IA" frameborder="0" allowfullscreen></iframe>
</div>

<!-- Image and control buttons -->

<div style="position:absolute;left:900px;top:800px">
<a href="engage2" class="engagefwdbwd">Next</a>
</div>

<img src="static/scenes/scene1.JPG"/>
