$def with (map_content)
<!DOCTYPE html>
<html>
<head>
    <title>Adrift Engage</title>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="/static/jquery.blockUI.js"></script>
    <script src="/static/jquery.history.js"></script>
    <script src="/static/jquery.colorbox-min.js"></script>
    <script src="/static/cssua.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>

    <link href="/static/ui.css" rel="stylesheet" media="screen"/>
    <link href="/static/colorbox.css" rel="stylesheet" media="screen"/>
    <link href="/static/stylesheetengage.css" rel="stylesheet" media="screen"/>
    <meta property="og:title" content="Adrift Engage"/>
    <meta property="og:image" content="http://adrift.org.au/static/fblogo.jpg"/>
    <meta property="og:description" content="Want to know where your message in a bottle will turn up or track down the path of local floating pollution? Use Adrift.org.au to forecast where rubber duckies or floating debris in the ocean is likely to end up in 10 years. So, take a leap into the virtual ocean today and see where it takes you."/>
    <meta property="fb:admins" content="1087703262" />
    <meta name="google-site-verification" content="MSgbQgLLWmbQniHSSRJhbmt7Z3VYbRbBVF7gJ3Fsda8" />
    <meta name="Description" content="Want to know where your message in a bottle will turn up or track down the path of local floating pollution? Use Adrift.org.au to forecast where rubber duckies or floating debris in the ocean is likely to end up in 10 years. So, take a leap into the virtual ocean today and see where it takes you."/>
</head>
<body>
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var host = location.host;
    if (host.indexOf("8080") == -1) {
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-38940204-1']); _gaq.push(['_trackPageview']);
        (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    }
</script>
<script>
    $$(document).ready(function(){
        $$(".colorbox750").colorbox({inline:true, innerWidth:"810px", opacity:0.50});
        $$(".colorbox").colorbox({inline:true, innerWidth:"520px", opacity:0.50,maxHeight:"95%"});
        $$(".colorbox_open").colorbox({inline:true, innerWidth:"520px", opacity:0.50,maxHeight:"95%",open:true});
    });
</script>

<div id="page_container">
    <div style="position: relative">
        <img class="header" src="/static/plastinographylogo_960pwide.jpg">
        <a href="http://www.climatescience.org.au" style="display:block;position:absolute;width:137px;height:40px;top:0px;left:820px"></a>
        <a href="http://www.plastinography.org.au" style="display:block;position:absolute;width:610px;height:73px;top:0px;"></a>
        <a href="http://www.adrift.org.au" style="display:block;position:absolute;left:770px;width:187px;height:20px;top:50px;"></a>
         <div style="position:absolute;top:39px;left:155px;"></div>


$:map_content

<div id="bottombar"></div>
<div id="bottombarcclogo">
    <a rel="license"
        href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img
        alt="Creative Commons License" style="border-width:0"
        src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
</div>
<div id="bottombardisclaimertext" style="width:700px;font-size:11px">
    <a href="http://plastinography.org">plastinography.org</a> was created by <a
        href="http://www.erik.vansebille.com">Dr Erik van Sebille</a>, Jennifer Halstead and Chloe Vandervord at <a
        href="http://www.unsw.edu.au">UNSW Australia</a>.

    Support for this site is provided by the <a
        href="http://www.climatescience.org.au/">ARC Centre of Excellence for
        Climate System Science</a> and the <a
        href="http://www.nectar.org.au/research-cloud">NeCTAR Research
        Cloud</a>.
</div>


</div>
</body>
</html>
