<!-- Speech bubble-->
<div class="duckiebubble" style="position:absolute;left:320px;top:160px;width:200px;">
<script>
    var text = 'So how can we solve this plastic problem?';
    $$.each(text.split(''), function(i, letter){
        setTimeout(function(){
            $$('#container').html($$('#container').html() + letter);
        }, 50*i);
    });
</script>
<div id="container"></div>
</div>

<!-- Circle invisible-->
<div style="position:absolute;left:450px;top:550px">
<a href="#invisible" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="invisible">
  <h2> Why can't I see any plastic on my beach?</h2>
  <p>
  The plastic that is commonly found in the ocean is microplastic. Plastic started its life in the ocean as a plastic bottle, rubber ducky, toothbrush or other item we use, but has been broken down into microscopic pieces. This is why sometimes you might not notice the plastic that is taking over our oceans when you are at the beach or swimming in the waves. 
<p>
<img width= "460" height="307px" src="static/scenes/plasticwaveone.png"/>
<p>
Bonnie Monteleone's artwork 'The Great Wave of Kanagawa'.
<p>
Source: <a href="http://theplasticocean.blogspot.com.au">The Plastic Ocean Project</a>
<p>
</div></div>

<!-- Circle cleanup-->
<div style="position:absolute;left:860px;top:670px">
<a href="#cleanup" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="cleanup">
  <h2> Why can't we just clean it up? </h2>
  <p>
You may be asking yourself by now, if all the plastic in the ocean ends up in the gyres, or garbage patches, then why can't someone just go out there and pick it all up? Well, it's not a plastic island, it's a plastic soup which is much harder to gather up. A young engineer, <a href="http://www.boyanslat.com/plastic5/">Boyan Slat</a>, had an idea about this and has been developing a new technology, a giant ocean vacuum, to suck all the plastic out of these garbage patches. While this all sounds very sophisticated, wouldn't it be better if we could <a href="https://theconversation.com/leave-the-ocean-garbage-alone-we-need-to-stop-polluting-first-13537">stop the plastic problem</a> before it reaches our oceans?
<p>
</div></div>

<!-- Circle Help -->
<div style="position:absolute;left:100px;top:640px">
<a href="#help" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="help">
  <h2> What can you do to help?</h2>
  <p>
If you are on this website and reading about plastic in our oceans then you have already taken the first step! Understanding that there is a problem is the first step to fixing it. Everything you do in your day-to-day life can have far greater consequences than you think. Stop and think about when you use plastic. Ask yourself if you need to use it, and try to think of ways you could use less.
<p>
<img width= "460" height="230px" src="static/scenes/footprint.jpg"/>
<p>
Source: <a href="http://algalita.org/gallery2/main.php">Algalita Marine Research Institure</a>
<p>
There are a few easy things you can do to help - start by following the 5 R's:
<p>
REFUSE the plastic bag
<p>
REDUCE the amount of plastic you use
<p>
REUSE plastic containers and bottles
<p>
RECYCLE any plastic that you can't reuse
<p>
RETHINK the products you buy and how they might effect marine animals
<p>
<p>
<img width= "460" height="477px" src="static/scenes/refuse.jpg"/>
<p>
Source: <a href="http://coastalcare.org/2012/01/keeping-the-sea-safer-from-plastic/">Coastal Care</a>
<p>
And an important one for the animals - loose the loop! Cut any plastic rings or loops before you throw them away, so just in case they make their way into the ocean they can't get stuck around the neck of a seal, or the nose of a dolphin. Bottle lid rings, plastic packing tape, rubber bands and rope can all be killers, but with a little bit of effort from you, they don't have to be. 
<p>
<img src="static/scenes/imag009.jpg"/>
<p>
Next time you're at the beach, take your rubbish home with you, and why not try picking up a few extra pieces of rubbish whilst you're there. Even though you didn't leave them there, the actions you take can influence others to do the same. The less rubbish on the beach, the less in the ocean. 
<p>
If you want to find out more about beach clean-ups in Australia, check out <a href="http://take3.org.au">Take3</a> 
<p>
</div></div>

<!-- Circle bioplastics-->
<div style="position:absolute;left:650px;top:670px">
<a href="#bioplastics" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="bioplastics">
  <h2> Can we make plastics that disappear in the ocean? </h2>
  <p>
Yes, we can make plastics that don’t linger for hundreds of years. They’re called biodegradable, and can be made from plant-based materials, such as corn and soy. In fact, they’ve been around for many years but the high cost of producing them means they have been slow to take off.
<p> 
Fortunately there is a lot of scientific research focusing on this area, and a number of companies, such as Plantic <a href="http://www.plantic.com.au">Plantic</a>, invest in making cheap and biodegradable plastics (or bioplastics) readily available. 
<p>
Bioplastics are designed to be broken down by microbes and leave no residue behind. This is ideal if we are to continue to have such a heavy dependence on plastic.  
<p>
New research is looking into how plastics can also be made from bacteria and <a href="http://www.ecovativedesign.com/mushroom-materials/">mushrooms</a>, and how bacteria can be used to breakdown the plastics that are already in the environment. 
<p>
Check out this <a href="http://www.ted.com/talks/two_young_scientists_break_down_plastics_with_bacteria">Ted talk</a> to find out more. 
<p>
<img src="static/scenes/corn.jpg"/>
<p> 
Source: <a href="http://content.time.com/time/magazine/article/0,9171,1983894,00.html">Tamara Shopsin for Time Magazine</a>
</div></div>
<!-- Image and control buttons -->

<div style="position:absolute;left:40px;top:750px">
<a href="engage5" class="engagefwdbwd">Previous</a>
</div>
<img src="static/scenes/scene6.png"/>

