<!-- Speech bubble-->
<div class="duckiebubble" style="position:absolute;left:320px;top:160px;width:200px;">
<script>
    var text = 'So how can we solve this plastic problem?';
    $$.each(text.split(''), function(i, letter){
        setTimeout(function(){
            $$('#container').html($$('#container').html() + letter);
        }, 50*i);
    });
</script>
<div id="container"></div>
</div>

<!-- Circle invisible-->
<div style="position:absolute;left:450px;top:550px">
<a href="#invisible" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="invisible">
  <h2> Why can't I see any plastic on my beach?</h2>
  <p>
  The plastic that is commonly found in the ocean is microplastic. Plastic that started its life as a plastic bottle, rubber ducky or toothbrush, but has broken down into microscopic pieces. This is why sometimes you might not notice the plastic that is taking over our oceans when you are at the beach or swimming in the waves. 
<p>
</div>

<!-- Circle cleanup-->
<div style="position:absolute;left:860px;top:670px">
<a href="#cleanup" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="cleanup">
  <h2> Why can't we just clean it up? </h2>
  <p>
You may be asking yourself by now, if all the plastic in the ocean ends up in the gyres, or garbage patches, then why can't someone just go out there and pick it all up? Well, it's not a plastic island, it's a plastic soup which is much harder to gather up. A young engineer Boyan Slat had an idea about this and has been developing a new technology, a giant ocean vacuum, to suck all the plastic out of these garbage patches. While this all sounds very sophisticated, wouldn't it be better if we could stop the plastic problem before it reaches our oceans?
<p>
</div>

<!-- Circle Help -->
<div style="position:absolute;left:100px;top:640px">
<a href="#help" class="circle colorbox"></a>
</div>
<div class="textbox hidden" id="help">
  <h2> What can you do to help?</h2>
  <p>
If you are on this website and reading about plastic in our oceans then you have already taken the first step! Understanding that there is a problem is the first step to fixing it. Everything you do in your day-to-day life can have far greater consequences than you think. Stop and think about when you use plastic. Ask yourself if you need to use it, and try to think of ways you could use less.
<p>
There are a few easy things you can do to help - start by following the 5 R's:
<p>
REFUSE the plastic bag
<p>
REDUCE the amount of plastic you use
<p>
REUSE plastic containers and bottles
<p>
RECYCLE any plastic that you can't reuse
<p>
RETHINK the products you buy and how they might effect marine animals
<p>
And an important one for the animals - loose the loop! Cut any plastic rings or loops before you throw them away, so just in case they make their way into the ocean they can't get stuck around the neck of a seal, or the nose of a dolphin. Bottle lid rings, plastic packing tape, rubber bands and rope can all be killers, but with a little bit of effort from you, they don't have to be. 
<p>
<img src="static/scenes/imag009.jpg"/>
<p>
Next time you're at the beach, always take your rubbish home with you, and why not try picking up a few extra pieces of rubbish whilst you're there. Even though you didn't leave them there, the actions you take can influence others to do the same. The less rubbish on the beach, the less in the ocean. 
<p>
If you want to find out more about beach clean-ups in Australia, check out <a href="http://take3.org.au">Take3</a> 
<p>
</div>

<!-- Image and control buttons -->

<div style="position:absolute;left:40px;top:750px">
<a href="engage5" class="engagefwdbwd">Previous</a>
</div>
<img src="static/scenes/scene6.png"/>

