 <!-- Speech bubble-->
<div class="duckiebubble" style="position:absolute;left:320px;top:160px;width:200px;">
<script>
    var text = 'So why are marine plastics a problem?';
    $$.each(text.split(''), function(i, letter){
        setTimeout(function(){
            $$('#container').html($$('#container').html() + letter);
        }, 50*i);
    });
</script>
<div id="container"></div>
</div>

<!-- Circle hitchhikers-->
<div style="position:absolute;left:760px;top:320px">
<a href="#hitchhikers" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="hitchhikers">
  <h2> Hitch-hikers of the ocean</h2>
  <p>
Microscopic marine animals hitch a ride on floating plastic, and move huge distances across the ocean. These hitch-hikers of the ocean are finding it easier and easier to find a lift, with more and more plastic passing by. The floating plastic allows these animals to move into areas they wouldn't normally be able to reach. The newcomers often outcompete the native species, which can have a devastating effect on ecosystems. 
  <p>
  <img src="static/scenes/ID9.jpg"/>
  Barnacles hitching a ride on a plastic ball
  <p>
Source: <a href="http://newswatch.nationalgeographic.com/2012/10/15/invasive-plastic-hitchhikers/">National Geographic</a>
<p>
</div></div>


<!-- Circle tangled-->
<div style="position:absolute;left:720px;top:570px">
<a href="#tangled" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="tangled">
  <h2> Tangled in Plastic</h2>
  <p>
Plastic debris in the ocean traps and entangles all forms of marine animals, from seals to turtles, to dolphins and even birds. Plastic can cause the animals to drown, trapping them so they cannot get to the surface for air. Baby turtles swim into plastic bottle rights when small, deforming their shells. Seals get caught in fishing line and get cut by the plastic as they grow. Even enormous whales get caught in floating plastic, and can drown as a result. 
<p>
Ghost nets are one of the worst types of plastic in the ocean. They are nets abandoned or lost by fisherman that move around the ocean in currents, catching every animal that gets in the way. Ghost nets are one of the main causes of death for many of Australia's endangered turtle species. Ghost nets are a significant problem along the North coast of Australia, where they find themselves washed up in the strong currents and dumped by nearby fishing boats.  
  <p>
 Check out <a href="http://ghostnets.com.au">ghostnets.com.au</a> for more information. 
  <p>
  <iframe width="460" height="259" src="//www.youtube.com/embed/hfuln4GssN0" frameborder="0" allowfullscreen></iframe>
  <p>
</div></div>

<!-- Circle eating plastic-->
<div style="position:absolute;left:400px;top:550px">
<a href="#eatingplastic" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="eatingplastic">
  <h2> Eating plastic</h2>
  <p>
Marine animals often mistake plastic for food. If they eat the harmful plastic, they will also eat the chemicals that the plastic 'sponge' has soaked up in the ocean. It is easy for larger fish and sea birds to mistake small microplastics for plankton or fish eggs. 
<p>
Leatherback turtles often mistake floating plastic bags for jellyfish. A plastic bag can cause a turtle to choke and eventually die. 
  <p>
  <img src="static/scenes/turtle.jpg"/>
  A turtle mistakes a plastic bag for food
  <p>
Source: <a href="http://www.projectaware.org/update/ban-plastic-grocery-bags-fails-pass-california-state-senate?page=24">Projectaware</a>

<p>
If Laysan albatrosses feed plastics to their chicks, they can die from starvation and plastic poisoning. 
<p>
<img src="static/scenes/albatross.jpg"/>
Plastic fed to Laysan Albatross Chicks
<p>
Source:<a href="http://ocean.si.edu/laysan-albatross-plastic-problem"> Ocean portal </a>
<p>
In Australia, many flesh-footed shearwater birds are dying. Plastic pollution plays an important role in this. On Lord Howe Island off the NSW coast, more than 75% of shearwater chicks contain plastic in their stomachs, mistaken for food by parent birds. One chick found dead on the island had over 270 pieces of plastic in its stomach. For a human, this would be the equivalent of 8kg of plastic. Find out more about how plastic pollution is killing wildlife on <a href="http://youtube.com/watch?v=SCC2cZnMieY">Lord Howe Island</a>. 
  <p>
  Whales also die from eating plastic debris. A sperm whale that was found on a beach in Spain had more than 8kg of plastic in its stomach, including hosepipes, plastic pots and disposable bags. 
  <p>
</div></div>

<!-- Circle bioaccum-->
<div style="position:absolute;left:80px;top:450px">
<a href="#bioaccumulation" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="bioaccumulation">
  <h2> How plastic acts as a chemical sponge </h2>
  <p>
<iframe width="460" height="259" src="//www.youtube.com/embed/7QzkYTnql5I" frameborder="0" allowfullscreen></iframe>
<p>
</div></div>

<!-- Circle biomag-->
<div style="position:absolute;left:390px;top:370px">
<a href="#biomag" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="biomag">
  <h2> Plastic in the marine foodchain </h2>
  <p>
<iframe width="460" height="259" src="//www.youtube.com/embed/7vlD7JMqWOc" frameborder="0" allowfullscreen></iframe>
<p>
</div></div>

<!-- Image and control buttons -->

<div style="position:absolute;left:70px;top:700px">
<a href="engage4" class="engagefwdbwd">Previous</a>
</div>
<div style="position:absolute;left:850px;top:700px">
<a href="engage6" class="engagefwdbwd">Next</a>
</div>

<img src="static/scenes/scene5.JPG"/>
