<!-- Speech bubble-->
<div class="duckiebubble" style="position:absolute;left:320px;top:160px;width:200px;">
<script>
    var text = 'How does the ocean move all this plastic?';
    $$.each(text.split(''), function(i, letter){
        setTimeout(function(){
            $$('#container').html($$('#container').html() + letter);
        }, 50*i);
    });
</script>
<div id="container"></div>
</div>

<!-- Circle importance-->
<div style="position:absolute;left:260px;top:530px">
<a href="#importanceIndianocean" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="importanceIndianocean">
  <h2> Why do the oceans matter? </h2>
  <p>
<iframe width="460" height="259" src="//www.youtube.com/embed/qojYm8JHKfE" frameborder="0" allowfullscreen></iframe>
</div></div>

<!-- Circle currents-->
<div style="position:absolute;left:610px;top:450px">
<a href="#currentsNorthPac" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="currentsNorthPac">
  <h2> Ocean currents</h2>
  <p>
<iframe width="460" height="259" src="//www.youtube.com/embed/Hu_Ga0JYFNg?list=PL40E5392D9BA23630" frameborder="0" allowfullscreen></iframe>
</div></div>

<!-- Circle Surface Currents-->
<div style="position:absolute;left:780px;top:490px">
<a href="#surfacecurrentsEcudaor" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="surfacecurrentsEcudaor">
  <h2> Surface ocean currents </h2>
  <p>
Unlike the still water in your bathtub, the ocean is constantly moving around. The water flows in giant currents and these play an important role in transporting heat from the equator to the Polar Regions. Without them, the tropics would be even hotter and the poles even cooler. 
<p>
Surface ocean currents are typically wind generated.  Wind drags on the water’s surface and causes it to move. It's a bit like how you can drag a sheet of paper across a table by placing your fingers on the sheet and then moving your hand. However, in the real ocean, the dragging of the surface waters by the wind is not so straightforward as with a piece of paper.
<p>
The oceans are so big, that the earth's spin comes into play. As water moves, it is continuously deflected by the rotation of the earth. That deflection is to the right in the Northern Hemisphere, and to the left in the Southern Hemisphere, and the effect is called the Coriolis effect (find out more about the Coriolis effect <a href="http://www.youtube.com/watch?v=rdGtcZSFRLk">here</a>)
<p>
<img width="460" height="259" src="static/scenes/water direction.jpeg"/>
<p style="font-size:9px"> 
Direction of gyres in the Northern and Southern Hemisphere.
Source: <a href="https://www.eeb.ucla.edu/test/faculty/nezlin/PhysicalOceanography.htm">UCLA</a>
<p>
Because of the Coriolis effect, the surface currents form giant spirals of water. These spirals are called gyres and they occur in each major ocean. They span the entire ocean basin and the water is slowly drawn inwards until it sinks. It can take years, and many loops around the basins, for water to slowly move to the centre of the gyre. 
  <p>
</div></div>


<!-- Circle Gyres-->
<div style="position:absolute;left:720px;top:650px">
<a href="#gyressouthpacific" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="gyressouthpacific">
  <h2> Ocean gyres</h2>
  <p>
<iframe width="460" height="259" src="//www.youtube.com/embed/h6i16CrI8ss" frameborder="0" allowfullscreen></iframe>
<p>
Each gyre is characterised by a strong and narrow 'western boundary' current, and a weak and broad 'eastern boundary' current. It is in these gyres that plastic floating in the ocean accumulates. 
<p>
</div></div>

<!-- Circle Eddies-->
<div style="position:absolute;left:-10px;top:650px">
<a href="#eddysouthatlantic" class="circle colorbox"></a>
</div>
<div style='display:none'><div class="textbox" id="eddysouthatlantic">
  <h2> Ocean eddies</h2>
<p>
Unlike gyres, which are permanent spirals of ocean currents, eddies are temporary vortices of swirling water. They are much smaller, less then a hundred kilometer across and can travel long distances before dispersing. The ocean is filled with them.
<p>
They form when a current flows past an obstacle and creates a reverse current which then swirls into a whirlpool. Much bigger but otherwise quite similar to the swirls in rivers or behind your spoon if you drag it through a tea cup.
<p>
The water inside the eddy is different to the water outside of the eddy. For example it may have a different temperature or salinity (salt content). 
<p>
<img height="259px" src="static/scenes/eddy.jpeg"/>
<p> 
Examples of ocean eddies forming in the Atlantic ocean. 
<p> 
Source: <a href="http://www.nasa.gov/topics/earth/features/perpetual-ocean.html#.UwQw7HmxMpE">NASA</a>
<p>
Eddies are important to the pathways of plastics in the ocean, because they make the flow very unpredictable. If there were only currents and no eddies, it would be much easier to find out where plastic ends up. 
</div></div>

<!-- Image and control buttons -->

<div style="position:absolute;left:40px;top:750px">
<a href="engage2" class="engagefwdbwd">Previous</a>
</div>
<div style="position:absolute;left:800px;top:750px">
<a href="engage4" class="engagefwdbwd">Next</a>
</div>

<img src="static/scenes/scene3.png"/>
